/* Universal selector affects all elements on the webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/* Changed the DIV class to HEADER */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed the SPAN element (non-semantic) to an EM element with a font-style of normal  */
#seo {
    color: #d9dcd6;
    font-style: normal;
}

/* Affects the positioning and style of the navigation bar */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Turned the background image into an image to add an alt tag and increase accessibility of users */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

p {
    font-size: 16px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Consolidated H2 tags into one section of code */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Consolidated the 3 main articles into one section of code */
.articles {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Affects image positioning in the main articles */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* Consolidated the 3 main benefits into one section of code */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

.benefit-types {
    margin-bottom: 32px;
}

.benefit-types h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-types img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Affects font and positioning of footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
